
body{
    background-image: url("peleWithGradient.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
   

}

p {
    font-family: Helvetica;
    font-size: 12px;

}

h2 {
    font-family: Helvetica;
    font-size: 14px;      
}

.probabilities {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: gray;
  }

.teamnames {
    font-family: Helvetica;
    font-size: 18px;
    font-weight: bold;
    
  }

  .bluecircle {
    border-radius: 50%;
    background: #091b3d;
    color: white;
    text-align: center;
    
    font: 15px Arial, sans-serif, bold;
    line-height: 15px;
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 10px;
    

}

.yellowsquare{
    border-radius: 10px;
    /*background-color: yellow;*/
    background-image: radial-gradient(#004279, #004295);
    width: 300px;
    height: 300px;
    position: absolute;
    z-index: 2;
    margin-left: 130px;
    margin-top: 130px;
    
    
    
}

.greensquare{
    background-color:red;
    border-radius: 10px;
    width: 300px;
    height: 300px;
    position: absolute;
    z-index: 1;
    margin-left: 140px;
    margin-top: 140px;
}
.theBiggerContainer{
    width: 90%;
    height: auto;
    padding: 15px;

    position: absolute;
    margin-left: 150px;
    margin-top: 150px;
    z-index: 2;

}

.mainContainer {
    width: 40%;
    float: left;

    
    border-style: none;
    
    /*border-color: rgb(252, 235, 2);*/
    border-left-style: solid;
    border-left-color: #004279;
    border-left-width: 8px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);

   }

 .middleContainer {
    width: 50px;
    float: left;
    padding: 50px;
}

.smallContainer {
    width: 40%;
    float: left;
   
    border-style: none;
    
    /*border-color: rgb(252, 235, 2);*/
    border-left-style: solid;
    border-left-color:#004279;
    border-left-width: 8px;
    background-color: rgba(255, 255, 255, 0.8);
}

h1 {
    font-size: 32px;
    padding-top: 0%;
}

table{
    border: 0px;
    font-family: Arial;
    border-spacing: 0px;
  }

td {
    padding: 20px; /* Adjust the value as needed */
    vertical-align: middle; /* Center the content vertically */
    text-align: center; /* Center the content horizontally */
}

tr:nth-child(odd) {
    background-color:#eee;

}
tr:nth-child(even) {
    background-color:#fff;
}


